*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/zSupport-1.0-release.apk
/app/release/baselineProfiles/0/zSupport-1.0-release.dm
/app/release/baselineProfiles/1/zSupport-1.0-release.dm
